:root {
  --primary-iris-color: #4d5ae5;
  --primary-navyblue-color: #2e2f42;
  --primary-slate-color: #434455;
  --primary-orange-color: orange;
  --primary-white-color: #fff;
  --background-color-navyblue: #2e2f42;
  --background-color-white: #fff;
  --background-color-cloud: #f4f4fd;
  --background-color-iris: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/*Header*/
.page-header {
  background-color: var(--background-color-white);
}

.logo-link {
  text-decoration: none;
  list-style: none;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo {
  color: var(--primary-iris-color);
}

.studio {
  color: var(--background-color-navyblue);
}
.nav-menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.current {
  background-color: var(--background-color-white);
}

.page {
  color: var(--primary-navyblue-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.logo-link:hover,
.logo-link:focus {
  color: var(--primary-iris-color);
}

.contacts-menu {
  color: var(--primary-slate-color);
}

.item {
  color: inherit;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/*Section 1 Button*/

.section-button:hover,
.section-button:focus {
  color: var(--primary-navyblue-color);
}

.button {
  background-color: var(--background-color-iris);
  color: var(--primary-white-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

/*Section 2 Categories*/

.section {
  background-color: var(--background-color-white);
}

.title {
  color: var(--primary-navyblue-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.description {
  color: var(--primary-slate-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/*Section 3 Platform*/
.section-title {
  text-align: center;
  color: var(--primary-navyblue-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/*Section 4 Staffs*/
.staffs {
  background-color: var(--background-color-white);
}

.staffs-title {
  text-align: center;
  color: var(--primary-navyblue-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.name {
  color: var(--primary-navyblue-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.position {
  color: var(--primary-navyblue-color);
  text-align: center;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/*Footer*/
.page-footer {
  background-color: var(--background-color-navyblue);
  font-family: Raleway;
}

.studio-footer {
  color: var(--primary-white-color);
}

.footer-text {
  color: var(--primary-white-color);
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
